a:hover {
  color: blue;
}
body {
  background-color: #292929;
  color: #8658c2;
  margin-top: 60px;
}

main {
  margin: 0 auto;
  max-width: 1200px;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
}
h2 {
  text-align: center;
  padding-top: 30px;
}